@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');
@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --base00: #32302f;
    --base01: #3c3836;
    --base02: #504945;
    --base03: #665c54;
    --base04: #bdae93;
    --base05: #d5c4a1;
    --base06: #ebdbb2;
    --base07: #fbf1c7;
    --base08: #fb4934;
    --base09: #fe8019;
    --base0A: #fabd2f;
    --base0B: #b8bb26;
    --base0C: #8ec07c;
    --base0D: #83a598;
    --base0E: #d3869b;
    --base0F: #d65d0e;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--base01);
    color: var(--base05);

    font-family: 'Iosevka Web', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--base08);
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.bio img {
    width: 300px;
    border-radius: 50%;
}

.bio .name {
    font-size: 2.15em;
    color: var(--base06);
}

.bio .description {
    font-family: 'Comic Neue';
    font-style: italic;
    text-align: center;
    max-width: 70ch;
}

.bio #location-cont i {
    color: var(--base0B);
}

.bio i {
    font-size: 1.5em;
    transition: all 0.15s ease-in-out;
}

.bio .contact-info i {
    font-size: 1.75em;
}

.bio .contact-info i:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -4px, 0px);
  color: var(--base0E);
}

.bio .contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.bio .contact-info a {
    color: var(--base05);
}

ul.contact-info {
    padding-inline-start: 0;
}

.bio .contact-info li {
    padding-inline-start: 0;
    list-style-type: none;
}

.tippy-box[data-theme~='geko'] {
    color: var(--base02);
    background-color: var(--base0E);
}
.tippy-arrow[data-theme~='geko'] {
    background-color: var(--base0E);
}

.tippy-box[data-theme~='geko'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--base0E);
}
.tippy-box[data-theme~='geko'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--base0E);
}
.tippy-box[data-theme~='geko'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--base0E);
}
.tippy-box[data-theme~='geko'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--base0E);
}
