name: build

on:
  push:
    branches-ignore:
      - "main"
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14
      - name: Enable magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build site
        run: nix build .\#packages.x86_64-linux.default --no-sandbox
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "result/public/"

