name: build

on:
  push:
    branches-ignore:
      - "main"
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v17
      - name: Build site
        run: nix build .\#packages.x86_64-linux.default
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "result/public/"

